html { 
    background-image: url("http://undergraduate.umbc.edu/img/visit-image-cropped.jpg");
}

header {
    position: relative;
    background: black;
    text-align: center;
}

.create {
    display: inline-block;
    veritcle-align: top;
    margin-top: -30px;
    margin-left: 60px;
    width: 40%;
    float:left;
}

.sign-up {
    text-align: center;
    padding-left: 2%;
    padding-bottom: 1%;
    position: relative;
    margin-top: 40px;
    margin-left: 35px;
    width: 92%;
    height: 100%;
    background-color: white;    
    box-shadow: 0px 0px 15px 15px #ffffff; 
}

.container {
    font-family: Georgia;
    text-align: left;
    padding-left: 2%;
    position: relative;
    margin-left: 550px; 
    height: 100%;
    background-color: white;
    max-width: 400px;
    border-left-style: outset;
    border-left-color: #000000;
}

.login {
    font-family: Georgia;
    text-align: left;
    position: relative;
    margin-left: 550px; 
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 8%;
    height: 100%;
    background-color: white;
    max-width: 400px;
    border-left-style: outset;
    border-left-color: #000000;
}

input {
    position: relative;
    max-width: 100%;
    width: 380px;
    padding: 10px;
    margin: 5px;
    border: 0;
    background-color: #f6f0bb;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

select {    
    position: relative;
    max-width: 100%;
    width: 400px;
    padding: 10px;
    margin: 5px;
    background-color: #f6f0bb;
    border: 0px;
}

.submit {
    font-family: Georgia;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
    margin-top: 15px;
    color: black;
    background-color: #F5CA5C;
    width: 50%;
}

